body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #4CAF50;
    padding: 1.5rem 0;
}

.center {
  text-align: center;
  border: 3px solid green;
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h1, h2 {
    color: #4CAF50;
}

footer {
    background-color: #4CAF50;
    padding: 1rem 0;
    text-align: center;
    color: #fff;
}
