body {
    font-family: Oswald, sans-serif;
    line-height: 1.0;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #1B998B;
    padding: 0;
}


nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

main {
    padding: 0;
}

section {
    margin-bottom: 2rem;
}

h1, h2 {
    color: #1B998B;
    text-align: center;
}

footer {
    background-color: #4CAF50;
    padding: 1rem 0;
    text-align: center;
    color: #fff;
}
